body{
  background: #999;
}
#app-main-container{
  min-width: 450px;
  min-height: 750px;
  max-width: 450px;
  max-height: 750px;
  overflow: hidden;
}
#app-main{
  display: none;
}
#app-loader{
  width: 450px;
  height: 750px;
}
.app-brand-text{
  font-size: 1.65rem;
  user-select: none;
}
#chat-messages-container{
  height: 605px;
  overflow-y: scroll;
  display: none;
}
#chat-actions-bar-container{
  height: 7.5vh;
  display:none;
}
#options-dropdown{
  left:-115px;
}

.no-select{
  user-select: none !important;
}

.chat-bubble{
  display: block;
}

.chat-bubble-avatar h4{
  display: inline-block;
}

#about-app-container{
  height: 680px;
  overflow-y: scroll;
  display: none;
}

#app-settings-container{
  height: 680px;
  overflow-y: scroll;
  display:none;
}